*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: #aaa;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 20px;
}
.hide{
    display: none;
}
/*---------------------------*/
/*       REUSEABLE COMPONENTS           */
/*--------------------------*/
.row{
    max-width: 1140px;
    margin: 0 auto;
}
.profile-wrapper{
    margin-top: 100px;
    background-color: #fff;
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
}
h1,
h2,
h3{
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1{
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
}
h2{
    font-size: 180%;
    word-spacing: 2px;
    margin-bottom: 30px;
}

h2:after{
    display: block;
    height: 2px;
    background-color: #12ef6e;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}
h3{
    font-size: 130%;
    margin-bottom: 15px;
}
/*     BUTTONS     */
input[type=submit]{
    cursor: pointer;
    background-color: #12ef6e;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #12ef6e;
    text-transform: uppercase;
    height: 40px;
    -webkit-transition: background-color .5s, border .5s;
    -moz-transition: background-color .5s, border .5s;
    transition: background-color .5s, border .5s;
}
input[type=submit]:hover{
    cursor: pointer;
    background-color:  #075a26;
    color: #fff;
    border-radius: 5px;
    border: 1px solid  #075a26;
    text-transform: uppercase;
    height: 40px;
}

/*   INPUT ELEMENTS   */
input{
    line-height: 1.2em;
    font-size: 100%;
}
input[type=file]{
    font-size: 80%;
    cursor: pointer;
}
label{
    font-size: 80%;
    text-transform: uppercase;
}


.line{
    margin-top: 20px;
    width: 100%;
    border-bottom: 1px solid #f4f4f4;
}


/*---------------------------*/
/*        HEADER             */
/*--------------------------*/
header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./img/bg4.jpg');
    background-size: cover;
    background-position: center;
    height: 22vh;
    
}

.logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #12ef6e;
    float: left;
    margin-top: 20px;
}
.main-nav{
    float: right;
    list-style: none;
    margin-top: 55px;
}
.main-nav li {
    display: inline-block;
    margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottm 0.5s;
}
.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #12ef6e;
}

/*----------------------------*/
/*   CREATE PARTY SECTION    */
/*--------------------------*/
.create-party-text{
    text-align: center;
    padding-top: 50px;
}
.create-party{
    padding: 30px;
    width: 90%;
    margin-left: 5%;
    background-color: #f4f4f4;
}
.party-group{
    width: 70%;
    margin-left: 15%;
    padding: 10px;
}
input[type=text]{
    float: right;
}
input[type=file]{
    float: right;
    transform: translate(18%);
}

/*---------------------------------*/
/*   EDIT/DELETE PARTY SECTION    */
/*-------------------------------*/

.parties{
    margin-top: 30px;
}
.my-parties{
    text-align: center;
}

/*---------------------------*/
/*        TABLE SECTION        */
/*--------------------------*/
.details{
    margin-top: 30px;
}
.my-details{
    text-align: center;
}
table{
    border-collapse: collapse;
    width: 100%;
}
th,td{
    padding: 8px;
    text-align: center;
}
th{
    background-color: #555;
    padding: 15px 15px;
    color: #fff;
}
tr:nth-child(even){
    background-color: #f2f2f2;
}
a{
    text-decoration: none;
    padding: 5px;
    color: #fff;
    font-size: 90%;
}
.edit{
    background-color: blue;
    border-radius: 5px;
}
.delete{
    background-color: red;
    border-radius: 5px;
}

/*----------------------------*/
/*   CREATE OFFICE SECTION    */
/*--------------------------*/
.office{
    margin-bottom: 50px;
}
.create-office-text{
    text-align: center;
    padding-top: 50px;
}
.create-office{
    padding: 30px;
    width: 90%;
    margin-left: 5%;
    background-color: #f4f4f4;
}
.office-group{
    width: 70%;
    margin-left: 15%;
    padding: 10px;
}
input[type=text]{
    float: right;
}
select{
    padding: 5px;
    float: right;
    width: 37.5%;
}


/*---------------------------*/
/*     FOOTER SECTION        */
/*--------------------------*/
footer{
    background-color: #333;
    padding: 50px;
}
.footer-section{
    display: grid;
    grid-template-columns: 2fr 2fr;
}
.footer-nav{
    list-style: none;
    float: left;
}
.social-links{
    list-style: none;
    float: right;
}
.footer-nav li,
.social-links li{
    display: inline-block;
    margin-right: 20px;
}
.footer-nav li:last-child,
.social-links li:last-child{
    margin-right: 0;
}
.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.5s;

}
.footer-nav li a:hover,
.footer-nav li a:active{
    color: #ddd;
    
}
.footer-p{
    color: #888;
    text-align: center;
    font-size: 90%;
    margin-top: 50px;
}
.social-links li a:link,
.social-links li a:visited{
    font-size: 180%;
}
.ion-social-facebook:hover{
    color: #3b5998;
}
.ion-social-twitter:hover{
    color: #00aced;
}
.ion-social-googleplus:hover{
    color: #dd4b39;
}
.ion-social-instagram:hover{
    color: #517fa4;
}





